{% extends "blog/base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<h1>{{post.title}}</h1>
<p class="date">
	Published {{post.publish}} by {{post.author}}
</p>
{{post.body|linebreaks}}
{% if new_comment %}

<h2>Your comment has ben added.</h2>
{% else %}
<h2>Add a new comment</h2>
<form action='.'  id='new_comment' method='POST'>
<!--   {{ form.as_p }}
 -->  
 {% for field in form %}
  <div >
    {{field.label_tag}}
    <br>
    {{field}}
    {{ field.errors }}
  </div>
  {% endfor %}
  {% csrf_token %}
  <input class="submit" type="submit" value="COMMENT">
</form>
{% endif %}
{% with comments.count as total_comments %}
<h2>
	{{ total_comments }} comment{{ total_comments | pluralize }}
</h2>
{% endwith %}
{% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
      {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
  </div>
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}
<p>
	<a href ="{% url "blog:post_share" post.id %}">
		Share this post
	</a>
</p>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/tips.css" %}">
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<!-- <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script> -->

<!--
<script type="text/javascript">
  $(document).on('submit','#new_comment',function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      data:{
        name:$('id_name').val(),
        email:$('id_email').val(),
        body:$('id_body').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      },
      success:function(){
        alert("aaa");
      }
    });
  });
</script>
-->

{% endblock %}
