.errorlist {
    display: block;
    text-align: left;
    line-height: 2.5;
    padding-left: 25px;
    font-size: 12px;
    color: #ff5960;
/*    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABGdBTUEAALGPC/xhBQAAAJhJREFUKBWV0m0KgCAMBuD18dfuUScLhLpE0O+88JurHGouTBjG3ONgSaQsEB0cynE5/SD4naMOC+o6gKMGC+LibQP2PUC9c4IYGgMMQwzf+IUYzjNgbQ4F94z8iJbymIrZxRtqi0cVybYhWn2dq6gNJY7N1fEHvlC4QfZkSOMITFM8nO+HkOD758skpYP2keHvTvklD1bRCeWAfw6Drpx6AAAAAElFTkSuQmCC) no-repeat 5px center
*/}
.submit
{
    display: inline-block;
    color: #FFF;
    background-color: #0488f7;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    white-space: nowrap
}

.submit:hover {
    background-color: #fff;
    color: #0488f7
}